.box {
  background-color: #ffffff;
  border: none;
  border-radius: 20%;
  box-shadow: 12px 12px 15px #6e6969;
  width: 4.5rem;
  height: 4.5rem;

  text-align: center;
  font-size: 4em;
  font-family: "Fredoka", sans-serif;
  font-weight: 900;
  line-height: 2rem;
  margin: 0.35rem;
}

.x {
  color: rgb(253, 80, 49);
}

.o {
  color: rgb(54, 135, 241);
}

.box:hover {
  box-shadow: 5px 5px 10px #888888;
}
