.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 18rem;
  font-size: 2.5rem;
  background-color: rgb(243, 239, 239);
  margin: 2.5rem auto 2.6rem;
  box-shadow: 15px 15px 20px #6e6969;
  border-radius: 0.6rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 0.6rem 0.2rem;
}

.x-score {
  color: rgb(253, 80, 49);
  border-bottom: 5px solid rgb(255, 70, 37);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.o-score {
  color: rgb(54, 135, 241);
  border-bottom: 5px solid rgb(44, 135, 255);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}
